.combo-box-base  {
    -fx-font-family : "Arial";
    -fx-font-size : 11px;
}

.text-field{
    -fx-font-family : "Arial";
    -fx-font-size : 11px;
}	

.text-area{
    -fx-font-family : "Arial";
    -fx-font-size : 11px;
}
 
.button{
	-fx-font-family : "Arial";
	-fx-font-size : 11px;
}

.label{
    -fx-font-family : "Arial";
    -fx-font-size : 11px;
}

.list-view {
    -fx-background-color: #8dbd9a;
    -fx-font-family: "Arial";
    -fx-font-size: 11px;
}

.table-view{
    -fx-background-color: #8dbd9a;
	-fx-font-family: "Arial";
    -fx-font-size: 11px;
}
