#LetraTree{
    -fx-font-family : "Arial";
    -fx-font-size : 11px;
 }

.tree-table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-fill: -fx-text-inner-color;
}
.tree-table-row-cell:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}

.tree-table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-row-cell:selected:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}
 
.combo-box-base  {
    -fx-font-family : "Arial";
    -fx-font-size : 11px;
}

.text-field{
    -fx-font-family : "Arial";
    -fx-font-size : 11px;
}	

.text-area{
    -fx-font-family : "Arial";
    -fx-font-size : 11px;
}
 
.button{
	-fx-font-family : "Arial";
	-fx-font-size : 11px;
}

.label{
    -fx-font-family : "Arial";
    -fx-font-size : 11px;
}

.list-view {
    -fx-background-color: #8dbd9a;
    -fx-font-family: "Arial";
    -fx-font-size: 11px;
}

.table-view{
    -fx-background-color: #8dbd9a;
	-fx-font-family: "Arial";
    -fx-font-size: 11px;
}
